@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: $main-background-color;
    background: $main-background-gradient;
}