$main-background-color: #fc5c7d;
$main-background-gradient: linear-gradient(to right, #fc5c7d, #6a82fb);
$form-background-color: #e6e6e6;
$form-secondary-color: #78788c;
$form-main-text-color: #5a5a5a;
$form-input-border-bottom-color: #bebed2;
$form-button-color: #5a5a6e;