.form-block {
    
    width: 560px;
    height: auto;
    background-color: $form-background-color;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 30px auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
    
    &__form-title {
        
        margin: 10px 0;
        padding-bottom: 10px;
        width: 250px;
        color: $form-secondary-color;
        border-bottom: 3px solid $form-secondary-color;
    }
    
}