.form {
    
    width: 460px;
    height: 720px;
    background-color: $form-background-color;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(30vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
    
    &__title {
        
        margin: 10px 0;
        padding-bottom: 10px;
        width: 250px;
        color: $form-secondary-color;
        border-bottom: 3px solid $form-secondary-color;
    }
    
    &__label {
        
        display: block;
        margin: 18px 0 0;
        font-size: .875rem;
        color: $form-main-text-color;
    }
    
    &__input--text {
        
        display: block;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        transition: all .3s ease-out;
        border-bottom: 2px solid $form-input-border-bottom-color;
    }
    
    &__input--text:focus {
        
        border-bottom: 2px solid $form-secondary-color;
    }
    
    &__input--radio {
        
        color: $form-main-text-color;
        font-size: .875rem;
        padding: 8px;
    }
    
    &__button {
        display: block;
        width: 140px;
        padding: 8px 12px;
        margin: 25px auto;
        border: 2px solid $form-secondary-color;
        background: 0;
        color: $form-button-color;
        cursor: pointer;
        transition: all .3s ease-out;
    }
    
    &__button:hover {
        
        background-color: $form-secondary-color;
        color: #FFF;
    }
}